.toDo_Main {
  width: 50%;
  margin: 0 auto;
  padding-top: 14%;
}

.toDo_add,
.toDo_list_show {
  text-align: center;
}

.toDo_list {
  text-align: center;
  padding: 7%;
  padding-left: 22%;
  display: flex;
}

.toDo_list_delete {
  float: right;
}

h1 {
  text-align: center;
}

button {
  margin-left: 20px;
  padding: 5px 15px;
}

input {
  padding: 5px 15px;
}

.delete {
  border-radius: 50%;
  float: right;
}
